@keyframes lightMove {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes outlineMove {
    0% {
        transform: scale(1) translateX(0);
    }

    50% {
        transform: scale(1.1) translateX(100%);
    }

    100% {
        transform: scale(1) translateX(0);
    }
}

.animate-light {
    animation: lightMove 1.5s ease-in-out infinite;
}

.animate-outline {
    animation: outlineMove 2s ease-in-out infinite;
    border-radius: 8px;
    pointer-events: none;
}

/* Hover state animation */
.group:hover {
    background-color: #6b46c1;
    /* Darker purple on hover */
    transform: scale(1.05);
}

.group:hover .animate-outline {
    opacity: 1;
    /* Show the outline more brightly on hover */
    border-color: #ffffff;
    /* White border color */
}

.group:hover .animate-light {
    opacity: 0.8;
    /* Light effect will be more pronounced */
}